*{
    margin: 0;
    padding: 0;
}

body > div {
    box-shadow: -10px 10px 20px #A0A0A0;
    border: solid 1px #A0A0A0;
}

#chat {
    position: absolute;
    top: 340px;
    left: 1000px;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    height: 480px;
    width: 500px;
    background-color: beige;
    padding: 10px;
    display: none;
}
#chat h2, #chat h3 {
    position: absolute;
    background-color: inherit;
    height: 22px;
    padding: 5px;
    line-height: 16px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
    border-top: inherit;
    border-left: inherit;
    border-right: inherit;
}
#chat h2 {
    top: -35px;
    left: -1px;
}
#chat h3 {
    right: -11px;
    top: -17px;
    transform-origin: left center;
    transform: translateX(100%) rotate(90deg);
}
#chat main {
    position: relative;
    height: calc(100% - 30px);
    width: calc(100% - 145px);
    background-color: white;
    overflow-y: scroll;
    line-height: 1.2;
}
#chat main p {
    line-height: 1;
    font-size: 16px;
    margin: 3px;
}
#chat main .mp {
    color: darkblue;   
}
#chat main .moi {
    color: green;   
}
#chat main .system {
    color: red;   
}
#chat main img {
    max-width: 50%;
    vertical-align: text-top;
}   

/** Pied de zone de chat */        
#chat footer {
    position: absolute; 
    bottom: 0;
    padding: 0px; 
    width: calc(100% - 20px);
    height: 30px;
    background-color: inherit;
}
#chat footer input {
    height: 22px;
    font-size: 15px;
}
#chat > footer input:first-child {
    width: calc(100% - 150px);
    font-size: 12px;
}
#chat > footer input:last-child {
    float: right;
}
        
#chat aside {
    width: 130px;
    float: right;
    margin: 0px;
    padding: 5px;
    height: calc(100% - 40px);
    background-color: white;
    line-height: 1;
    font-size: 14px;
}



#choosingAlphabet{
    position:absolute;
    left:0;
    right:0;
    top:0;
    height:100%;
    width:100%;
    padding: 0;
    margin: 0;
    font-family: verdana, sans-serif; 
    background-image: url(../images/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}



#choix {
    margin-top: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: flex-start;
}


#choix table{
	position:absolute;
	margin: 600px auto;
	align-items: center;
	top: 0;
}

#choix button{
	left:5;
	right:5;
	top:3;
	width: 50px;
	height: 30px;
	opacity:0.8;

}

#content {
    position: absolute;
    width: 620px;
    height: 500px;
    margin: 10px 200px;
}
    
#content canvas {
    cursor: none;
    border: solid 1px #000;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 80px; 
    left: 0;
}
#content canvas#overlay {
    opacity: 0.8;
}
#content canvas#dessin {
    background-image: url('../images/bgDessin.png');
    background-size: 50px 50px;
    background-repeat: repeat;
}


#toolbox {
    position: absolute;
    width: 100px;
    left: -100px;
    top: 100px;
    display: flex;
    flex-direction: column;
    /*display: none;*/
}
#toolbox > * {
    position: relative;
    width: 50px;
    box-sizing: border-box;
    height: 50px;
    padding: 0;
    margin-top: 10px;
    background-size: cover;
    padding: 2px; 
}
#toolbox input:not([type=range]) {
    display: none;
}   
#toolbox input[type=range] {
    margin: 0;
}
#toolbox label[for] {
    border: solid 1px #000;
}   
#toolbox label[for=tracer] {
    background-image: url(../images/icone-pinceau.png);   
}
#toolbox label[for=gommer] {
    background-image: url(../images/icone-gomme.png);   
}
#toolbox label[for=ligne] {
    background-image: url(../images/icone-trait.png);   
}

#toolbox input:checked + label[for] {
    box-shadow: blue 0 0 5px;
}  
#toolbox #new {
    background-image: url(../images/icone-nouveau.png);   
}

#settings {
	width: 400px;
    height: 300px;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 200px;
    background: darkgrey;
    border: solid 1px #333;
    box-shadow: 10px 10px 10px #000;
    border-radius: 5px;
}

#bc1In3 {
    width: 400px;
    height: 300px;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 200px;
    background: darkgrey;
    border: solid 1px #333;
    box-shadow: 10px 10px 10px #000;
    border-radius: 5px;
}

#bc1In3 button{
	width: 50px;
	height: 40px;
	left:150px;
	top:20px;
	border:1px solid #000
}

#begin{
	width:100px;
	height:40px;
	position:absolute;
	top:20px;
	left:200px;

}
     
#timer{
	width:200px;
	height:40px;
	position:absolute;
	top:20px;
	left:200px;
    background-image: url(../images/background2.jpg);
    border:1px solid #000
}

#state{
	width:430px;
	height:40px;
	position:absolute;
	top:20px;
	left:450px;
	background-image: url(../images/background2.jpg);
	border:1px solid #000

}

#lap{
	width:100px;
	height:40px;
	position:absolute;
	top:20px;
	left:900px;
    background-image: url(../images/background2.jpg);
    border:1px solid #000
}

#lobby{
	width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 400px;
    background: darkgrey;
    border: solid 1px #333;
    box-shadow: 10px 10px 10px #000;
    border-radius: 5px;
}

#lobby p{
	transform-origin: left center;
	width: 600px;
	height: 40px;
	border:5px solid #000;
	top:100px;
	left: auto;
}



#login{
	width:400px;
	height:400px;
	border:1px solid #000;
	top:50%;
	left:50%;

}
        
#watchJaponese{
	width:200px;
	height: 100px;
	position: absolute;
	left:720px;
	top:100px;

}


#resultJaponese{
	width:100px;
	height: 100px;
	position: absolute;
	left:720px;
	top:300px;
	border:5px solid #000;
}