*{
    margin: 0;
    padding: 0;
}

#choosingAlphabet{
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width:100%;
    padding: 0;
    margin: 0;
    font-family: verdana, sans-serif; 
    background-image: url(../images/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}


#choix {
    margin-top: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: flex-start;
}

#choix button{
	left:5;
	right:5;
	top:3;
	width: 50px;
	height: 30px;
	opacity:0.8;

}

#content {
    position: relative;
    width: 620px;
    height: 500px;
    margin: 10px auto;
}
    
#content canvas {
    cursor: none;
    border: solid 1px #000;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 0; 
    left: 0;
}
#content canvas#overlay {
    opacity: 0.8;
}
#content canvas#dessin {
    background-image: url('../images/bgDessin.png');
    background-size: 50px 50px;
    background-repeat: repeat;
}


#toolbox {
    position: absolute;
    width: 100px;
    left: -100px;
    top: 0;
    display: flex;
    flex-direction: column;
}
#toolbox > * {
    position: relative;
    width: 50px;
    box-sizing: border-box;
    height: 50px;
    padding: 0;
    margin-top: 10px;
    background-size: cover;
    padding: 2px; 
}
#toolbox input:not([type=range]) {
    display: none;
}   
#toolbox input[type=range] {
    margin: 0;
}
#toolbox label[for] {
    border: solid 1px #000;
}   
#toolbox label[for=tracer] {
    background-image: url(../images/icone-pinceau.png);   
}
#toolbox label[for=gommer] {
    background-image: url(../images/icone-gomme.png);   
}
#toolbox label[for=ligne] {
    background-image: url(../images/icone-trait.png);   
}
#toolbox label[for=rectangle] {
    background-image: url(../images/icone-rectangle.png);   
}
#toolbox input:checked + label[for] {
    box-shadow: blue 0 0 5px;
}  
#toolbox #new {
    background-image: url(../images/icone-nouveau.png);   
}
#toolbox #open {
    background-image: url(../images/icone-ouvrir.png);   
}
#toolbox #save {
    background-image: url(../images/icone-enregistrer.png);   
}
     
        
/** Style de la fenêtre modale contenant la liste des images */        
#modal {    
    font-family: sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: scroll;
    transform: translateX(-60%) translateY(-50%);
    background-color: lightgray;
    border-radius: 10px;
    border: solid 3px #000;
    width: 50%;
    height: 70%;
    display: none;
}

#modal table {
    margin: 10px auto;   
}
#modal tr {
    border: solid 1px #000;
    margin: 10px;
}
#modal td > img {
    width: 24px;
    height: 24px;
}
#modal td > img[src^=data] {
    width: 80px;
    height: 80px;
    border: solid 1px #000;
    margin-left: 10px;
}
        
#modal #fermer {
    position: absolute; 
    right: 0px;
    top: 0px;
    border-radius: 50%;
    width: 30px;
    height: 30px;    
}
#modal #fermer::before, #modal #fermer::after {
    content: '';
    position: absolute;
    width: 70%;
    height: 20%;
    top: 50%;
    left: 50%;
    background-color: black;
}
#modal #fermer::before {
    transform: translateX(-50%) translateY(-50%) rotate(45deg) ;    
}
#modal #fermer::after {
    transform: translateX(-50%) translateY(-50%) rotate(-45deg) ;    
}
#modal h3 {
    padding-left: 10%;
}   
